{% extends 'base.html.twig' %}

{% block topnavbar %}
    <div class="row">
        <div class="col order-first"><h4>Edit Team</h4></div>
        <div class="col order-last">
            <ul class="nav justify-content-end">
               
                <li class="nav-item">
                    {{ form_start(delete_form) }}
                        <input class="btn btn-danger btn-sm" type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>

                 <li class="nav-item">
                    <a class="btn btn-primary btn-sm" href="{{ path('team_index') }}">
                    Back to the list</a>
                </li>

            </ul>            
        </div>
    </div> 
{% endblock %}

{% block body %}

    <div class="row col-4">    
        {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input class="btn btn-primary" type="submit" value="Edit" />
        {{ form_end(edit_form) }}
    </div>
{% endblock %}
