{% extends 'base.html.twig' %}

{% block topnavbar %}
    <div class="row">
        <div class="col order-first"><h4>Team List</h4></div>
        <div class="col order-last">
            <ul class="nav justify-content-end">
                {% if is_granted('ROLE_USER') %}
                <li class="nav-item">
                    <a class="btn btn-primary btn-sm" href="{{ path('team_new') }}">
                    Create a new team</a>
                </li>
                {% endif %}
            </ul>            
        </div>
    </div> 
{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Logouri</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        
        </tbody>
    </table>

    {% block loadingicon %}  
        {{ parent() }}
    {% endblock %}

{% endblock %}

{% block javascripts %}   
    {{ parent() }}  
    {{ include('template/team.html.twig') }}
    <script src="{{asset('assets/vendors/js/soccer/team.js') }}"></script>
{% endblock %}
