{% extends 'base.html.twig' %}

{% block topnavbar %}
    <div class="row">
        <div class="col order-first"><h4>Create Team</h4></div>
        <div class="col order-last">
            <ul class="nav justify-content-end">
                {% if is_granted('ROLE_USER') %}
                <li class="nav-item">
                    <a class="btn btn-primary btn-sm" href="{{ path('team_index') }}">Back to the list</a>
                </li>
                {% endif %}
            </ul>            
        </div>
    </div> 
{% endblock %}

{% block body %}

    <div class="row col-4">    
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Create" />
        {{ form_end(form) }}
    </di>
{% endblock %}
