{% extends 'base.html.twig' %}

{% block topnavbar %}
    <div class="row">
        <div class="col order-first"><h4>Team Details</h4></div>
        <div class="col order-last">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="btn btn-primary btn-sm" href="{{ path('team_index') }}">
                    Back to the list</a>
                </li>
            </ul>            
        </div>
    </div> 
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <div class="card card bg-dark text-white" style="width: 18rem;">
                {% if team.logoUri|length > 0 %}
                    <img class="card-img-top" src="{{ asset('assets/uploads/') ~ team.logoUri }}" alt="Team image">                    
                {% else %}
                    <img class="card-img-top" src="{{ asset('assets/vendors/images/tbu.png') }}" alt="Image not found">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ team.name |capitalize }}</h5>
                    <p class="card-text">
                     Team Number : {{ team.id }}
                    </p>                    
                </div>
                {% if is_granted('ROLE_USER') %}
                <div class="card-footer">
                    <div class="row">
                        <div class="col">
                            <a class="btn btn-primary" href="{{ path('team_edit', { 'id': team.id }) }}">Edit</a>
                        </div>
                        <div  class="col">
                            {{ form_start(delete_form) }}
                                <input class="btn btn-danger" type="submit" value="Delete">
                            {{ form_end(delete_form) }}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div><!-- col -->
    
        <div class="col-8">
            <table class="table">
            <thead>
                <tr>
                    <th>Avatar</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Number</th>
                </tr>
            </thead>
            <tbody>           
            </tbody>
            </table>

            {% block loadingicon %}  
                {{ parent() }}
            {% endblock %}            
        </div><!-- col -->


    </div><!-- row -->
{% endblock %}

{% block javascripts %}   
    {{ parent() }}  
    {{ include('template/player.html.twig') }}
    <script src="{{asset('assets/vendors/js/soccer/player.js') }}"></script>
{% endblock %}