<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet"
            href="{{ asset('assets/vendors/css/bootstrap/bootstrap.min.css') }}">

            <link rel="stylesheet"
            href="{{ asset('assets/vendors/css/bootstrap/bootstrap-grid.min.css') }}">

            <link rel="stylesheet"
            href="{{ asset('assets/vendors/css/bootstrap/bootstrap-reboot.min.css') }}">
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div>
            <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Soccer</a>            
            <form class="form-inline">
            {% if is_granted('ROLE_USER') %}
                <a class="btn btn-primary my-2 my-sm-0" href="{{ path('fos_user_security_logout') }}">
                Logout</a>
            {% else %}
                <div class="row">
                    <div class="col">               
                        <a class="btn btn-primary my-2 my-sm-0" href="{{ path('fos_user_security_login') }}">
                        Login</a></div>
                    <div class="col">
                        <a class="btn btn-success my-2 my-sm-0" href="{{ path('fos_user_registration_register') }}">
                        Register</a>
                    </div>
                </div>
            {% endif %} 
            </form>
            </nav>
            <br>
        </div>

        <div class="container">        
            <div class="ajax-failure" style="display: none">
                <div class="alert alert-danger" role="alert">
                    Contact administrator.
                </div>
            </div>      

            <div>
                {% block topnavbar %}{% endblock %}
            </div>

            <div>
                {% block body %}
                
                 {% block loadingicon %}
                    <div class="d-flex justify-content-center row" >
                        <div id="loading" class="d-none">
                            <spa><strong>Loading content...</strong></span>
                            <p><img src="{{ asset('assets/vendors/images/loading.gif') }}" height="100px" /></p>  
                        </div>                  
                    </div>
                {% endblock %}

                {% endblock %}
             </div>
        </div>

        {% block javascripts %}    
            <script src="{{asset('assets/vendors/js/jquery/jquery.min.js') }}"></script>
            <script src="{{asset('assets/vendors/js/bootstrap/bootstrap.min.js') }}"></script>
            <script src="{{asset('assets/vendors/js/handlebars/handlebars.min.js') }}"></script>

            <script type="text/javascript">
                {% if is_granted('ROLE_USER') %};
                    var permission = {{is_granted('ROLE_USER')}};
                {% else %}
                    var permission = 0;
                {% endif %} 
            </script>

            <script src="{{asset('assets/vendors/js/soccer/soccer.js') }}"></script>
        {% endblock %}

    </body>
</html>