{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <h2 id="quick-start"> Quick start</h2>
    </div>

    <div class="row">
        <p>Use the following end point to get the list of team and players of a team via api.</p>
    </div>

    <div class="row">
        <div class="grid">
            <div class="row">
                <div class="col-4">
                    API Description
                </div>
                <div class="col-8">
                    Get all teams
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    Method
                </div>
                <div class="col-8">
                <strong>Get</strong>
                </div>
            </div>   
            <div class="row">
                <div class="col-4">
                    End point
                </div>
                <div class="col-8">
                http://soccer.handyapps.co.in/api/v1/team
                </div>
            </div>     
        
            <br>

            <div class="row">
                <div class="col-4">
                    API Description
                </div>
                <div class="col-8">
                    Get players of a team
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    Method
                </div>
                <div class="col-8">
                <strong>Get</strong>
                </div>
            </div>   
            <div class="row">
                <div class="col-4">
                    End point
                </div>
                <div class="col-8">
                http://soccer.handyapps.co.in/api/v1/team/{id}
                </div>
            </div>     
        </div>
    </div>

    <br>
    <div class="row bd-example">
        <div class="alert alert-primary" role="alert">
            You can <a href="/team" class="alert-link">click here</a> to see list of team and belonging to the team.
        </div>
    </div>   

    <div class="row bd-example">
        <div class="alert alert-danger" role="danger">
            <a href="http://handyapps.co.in/dist/soccerlogs/report/" target="_blank" class="alert-link">Click here</a> to find the Unit testing report.
        </div>
    </div> 

{% endblock %}
