{% extends 'base.html.twig' %}

{% block body %}

    <h2 id="quick-start">
        <div>Quick start</div>
    </h2>
    <p>Use the following end point to get the list of team and players of a team via api.</p>

    <div class="grid">
        <div class="row">
            <div class="col-4">
                API Description
            </div>
            <div class="col-8">
                Get all teams
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                Method
            </div>
            <div class="col-8">
            <strong>Get</strong>
            </div>
        </div>   
        <div class="row">
            <div class="col-4">
                End point
            </div>
            <div class="col-8">
            http://soccer.handyapps.co.in/api/v1/team
            </div>
        </div>     
     
        <br>

   
        <div class="row">
            <div class="col-4">
                API Description
            </div>
            <div class="col-8">
                Get players of a team
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                Method
            </div>
            <div class="col-8">
            <strong>Get</strong>
            </div>
        </div>   
        <div class="row">
            <div class="col-4">
                End point
            </div>
            <div class="col-8">
            http://soccer.handyapps.co.in/api/v1/team/{id}
            </div>
        </div>     
    </div>

{% endblock %}
