
{% extends 'base.html.twig' %}

{% block body %}
   
    <div class="d-flex justify-content-center  row">
    <div class="col-4">
        {% block fos_user_content %}{% endblock %}
    </div>
    </div>
{% endblock %}