{% extends 'base.html.twig' %}

{% block topnavbar %}
    <div class="row">
        <div class="col order-first"><h4>Adding player to team {{team.name|capitalize}}</h4></div>
        <div class="col order-last">
            <ul class="nav justify-content-end">
                 <li class="nav-item">
                    <a class="btn btn-primary btn-sm" href="{{ path('team_index') }}">
                    Back to the list</a>
                </li>

            </ul>            
        </div>
    </div> 
{% endblock %}

{% block body %}
    <div class="row col-4">  
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Create" />
        {{ form_end(form) }}
    </div>
{% endblock %}
