<script id="handlebars-player-list" type="text/x-handlebars-template">
    {% verbatim %}
        {{#each players}}
            <tr>
                {{# if imageUri }}
                    <td><img width="55px" height="60px" src="/assets/uploads/{{imageUri}}"></td>
                {{else}}
                    <td><img width="55px" height="60px" src="/assets/vendors/images/tbu.png"></td>
                {{/if}}

                <td><span class="text-capitalize">{{firstName}}</span></td>
                <td><span class="text-capitalize">{{lastName}}</span></td>
                <td><a href="#">{{number}}</a></td>
            </tr>
        {{/each}}
    {% endverbatim %} 
</script>

