<script id="handlebars-team-list" type="text/x-handlebars-template">
    {% verbatim %}
        {{#each teams}}
            <tr>
                <td><a href="/team/{{id}}">{{name}}</a></td>
                {{# if logoUri }}
                    <td><img width="150px" height="50px" src="/assets/uploads/{{logoUri}}"></td>
                {{else}}
                    <td><img width="150px" height="50px" src="/assets/vendors/images/tbu.png"></td>
                {{/if}}
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-info btn-sm" href="/team/{{id}}">Details</a> 
                        {{# if ../permission }}                      
                            <a class="btn btn-secondary btn-sm" href="/team/edit/{{id}}">Edit</a>
                            <a class="btn btn-success btn-sm" href="/player/new?id={{id}}">Add player</a>                    
                        {{/if}}
                    </div>                
                </td>
            </tr>
        {{/each}}
    {% endverbatim %} 
</script>

